<%- include('components/header')%>
<main class="container pt-5">
    <h1>Thank you for message</h1>
    <p>Your name is <%= info.name %></p>
     <p>Your email is <%= info.email %></p>
     <p>Your subject is <%= info.subject %></p>
        <p>Your message is <%= info.message %></p>

    
</main>
<%- include('components/footer')%>;